.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.number-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 99;

}


.phone{
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
}

.content{
  min-width: 450px;
  min-height: 450px;
  border: 5px solid white;
  border-radius: 50%;
  /* background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);    display: flex; */
  padding: 80px 30px 30px 30px;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);}


@media(max-width:500px){
  .content{
    width: 400px;
    height: 400px;
  }
}
@media(max-width:456px){
  .content{
    min-width: 300px;
    border-radius: 15px;
    padding: 50px 30px 30px 30px;
    margin: 10px;
  }
}

  /* OverLAy-start
=========================== */
.overlay{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);  position: absolute;
  top: 0%;
  z-index: 99999;
}
.first{
  left: 0;
}
.second{
  left: 33.3%;
}
.third{
  left: 66.6%;
}
