ul{
  list-style: none;
}
li{
  margin: 15px 0;
  /* cursor: pointer; */
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}
.right{
  position: fixed;
  padding: 40px 20px;
  right: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  border-left: 5px white solid;
  background-color: #1f1f1f;
  overflow: hidden;
}
.left{
  position: absolute;
  padding: 30px;
  right: 250px;
  top: 0;
  width: calc(100% - 250px);
  height: 100vh;
  background-color: rgba(211, 221, 230, 0.5);
}

