.wrappers {
  min-height: 300px;
  max-height: 400px;
  border: 6px double rgb(170, 22, 59);
  border-radius: 15px;
  background: rgba(0, 0, 0,0.9);
  color: white;
  display: flex;
  align-items: center;
  padding:15px;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: ltr;
}

.add-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  direction: rtl;
  
}

.title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}