.wrraper {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  position: relative;
  background: url('./assets/engine.jpg')  no-repeat  center center/cover;
  /* background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);  background-position: center; */
  display: flex;
  justify-content: center;
  direction: rtl;
  overflow: hidden;
  /* align-items: center; */
  }

  a{
    text-decoration: none;
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .5s ease;
}
